
.name{
  font-size: 50px;
  display: flex;
  justify-content: center;
}

.buttons button{
  height: 50px;
  margin: 20px 10px;
}

.buttons {
  height: 100px;
  display: flex;
  justify-content: center;
}

.link{
  padding-right: 4px;
  color: blue;
  transition: color 0.15s;
}

.link:hover{
  color: hotpink;
}

.link:active{
  color:cornflowerblue;
}



.text,
.js-score,
.js-result,
.js-moves{
  display: flex;
  justify-content: center;
}



.div{
  margin-bottom: 70px;
}